<form method="POST" action="/restaurants">
  <h1 class="mb-1 restaurant-english-title">英文餐廳名：
    <input type="text" name="name_en" required>
  </h1>
  <h1 class="mb-1 restaurant-show-title">中文餐廳名：
    <input type="text" name="name" required>
  </h1>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 mx-auto text-center">

        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-utensils pr-2"></i>
            類別：
            <input class="col-3" type="text" name="category" required>
          </span>
        </p>

        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-mobile-alt pr-2"></i>
            圖片：
            <input class="col-3" type="url" name="image" required>
          </span>
        </p>

        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-map-marker-alt pr-2"></i>
            地址：
            <input class="col-3" type="text" name="location" required>
          </span>
        </p>

        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-location-arrow pr-1 fa-xs"></i>
            地圖：
            <input class="col-3" type="url" name="google_map" required>
          </span>
        </p>

        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-mobile-alt pr-2"></i>
            電話：
            <input class="col-3" type="tel" name="phone" required>
          </span>
        </p>

        <p class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-star mr-1 fa-xs"></i>
            評分：
            <input class="col-3" type="number" min="0" max="5" name="rating" step="0.05" required>
          </span>
        </p>

        <p class="mb-5">
          <span class="text-secondary">
            <i class="fas fa-info pr-2"></i>
            描述：
            <input class="col-3" type="text" name="description">
          </span>
        </p>

        <a class="btn btn-secondary mr-5" href="/" role="button">Cancel</a>
        <button class="btn btn-success" type="submit">
          <i class="far fa-plus-square pr-2"></i>
          <a href="/restaurants"></a>
          Create
        </button>
      </div>
    </div>
  </div>
</form>